# Firebase cache
.firebase/

# Firebase config
.firebaserc

# Firebase Functions
functions/lib/
functions/node_modules/
functions/.runtimeconfig.json

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
